/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body.dark{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

.loader {
  background-color: var(--title-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide {
  display: none;
}

.loader--img {
  width: 100px;
  /* Para cambiar el color del SVG */
  fill: var(--body-color);
  position: relative;
  animation: load 1.5s infinite;
}

nav{
  padding: 1rem;
  display: flex;
  align-items: center;
}

.nav--cart{
  justify-self: flex-end;
}

.nav-bar{
  display: flex;
  align-items: center;
  
}

.nav-logo{
  width: 40px;
}


.nav--cart{
  position: relative;
  display: inline-block;
  }

.counter{
  background-color: gray;
  width: 0.85rem;
  height: 0.85rem;
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.cart--container{
  width: 100%;
  height: 100%;
  background-color: rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  left: 0;
}

.cart--container.hide{
  display: none;
}

.cart{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  max-width: 400px;
  right: 0;
  box-shadow: -4px 5px 10px rgba(147, 147, 147);
}

.close--cart{
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}


/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/


  
@keyframes load {
  0% {
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0;
  }
}