/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-gray: hsl(0, 0%, 75%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
  /* padding: 1rem; */
  font-family: var(--body-font);
}

body.dark{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header, .section-showall{
  padding: 1rem;
}

.nav-btns{
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
  color: var(--title-color);
}

.text-diff{
  color: var(--first-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.photo-container{
  background-color: var(--first-color);
  /* width: 220px;
  height: 350px; */
  width: 70%;
  height: 80%;
  max-height: 495px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: -1;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}

.ghost-container{
  height: 480px;
}

.img-header{
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 11rem;
  left: 0.5rem;
}

.header-text{
display: flex;
flex-direction: column;
gap: 1rem;

}

h1,h2,h3{
  color: var(--title-color);
  font-size: 2rem;
}

.header-text > p{
  max-width: 450px;
}

.btn-discover,.btn-add{
  width: 9rem;
  padding: 1rem 1.5rem;
  border: transparent;
  font-weight: bold;
}

.btn-discover{
  background-color: var(--button-gray);
}

.btn-add{
  background-color: var(--button-color);
  color: white;
  margin-left: -4px;

}

.section-showall{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.title-showall{
  font-weight: bold;
}

.title--container{
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title--container.one, .title--container.three{
  border-right: 1px solid var(--text-color);
  margin-right: 0;
}


.footer-container{
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

.footer-about > small, .footer-product > small{
  display: block;
  margin-bottom: 0.3rem;
}

.social-icons{
  display: flex;
  gap: 1rem;
}

h6{
  font-size: 1rem;
  margin-bottom: 1rem;
}

.icon{
  font-size: 1.75rem;
  filter: var(--title-color);
}

.copyright{
  padding: 1.5rem;
  text-align: center;
  background-color: var(--container-color);
}

.loader {
  background-color: var(--title-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide {
  display: none;
}

.loader--img {
  width: 100px;
  /* Para cambiar el color del SVG */
  fill: var(--body-color);
  position: relative;
  animation: load 1.5s infinite;
}

nav{
  /* padding: 1rem; */
  display: flex;
  align-items: center;
}

.nav--cart{
  justify-self: flex-end;
}

.nav-bar{
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.nav-logo{
  width: 40px;
  fill: var(--first-color);
}


.nav--cart{
  position: relative;
  display: inline-block;
  }

.counter{
  background-color: var(--title-color);
  width: 0.85rem;
  height: 0.85rem;
  display: flex;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: -1px;
  right: -2px;
}

.cart--container{
  width: 100%;
  height: 100%;
  background-color: rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  left: 0;
}

.cart--container.hide{
  display: none;
}

.cart{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  max-width: 400px;
  right: 0;
  box-shadow: -4px 5px 10px rgba(147, 147, 147);
}

.close--cart{
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}




/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/


  
@keyframes load {
  0% {
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0;
  }
}

@media screen and (min-width: 678px){
  .ghost-container{
    /* display: none; */
    width: 300px;
  }
  .photo-container{
    max-width: 300px;
    position: absolute;
    top: 0;
    /* right: auto; */
    height: 450px;
  }

  .img-header{
    position: static;
  }
  .header-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 800px;
  }

  .footer-container{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .title--container{
    display: flex;
    flex-direction: column;
  }

  .title--container.two{
    border-right: 1px solid var(--text-color);
    margin-right: 0;
  }

  .section-showall{
    grid-template-columns: 25% 25% 25% 25%;
    margin-right: 4em;
    margin-left: 4em;
  }


}